@charset "UTF-8";
/* CSS Document */

/* ---------------

Social icon Dark GB
Made by Zhenxi

---------------  */


/* --------------- TWITTER */

.twitter {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
}

.twitter span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.twitter:hover span {
	opacity: 1;
}


/* --------------- LINKEDIN */

.linkedin {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -30px;
}

.linkedin span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -30px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.linkedin:hover span {
	opacity: 1;
}


/* --------------- Pinterest */

.pinterest {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -60px;
}

.pinterest span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -60px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.pinterest:hover span {
	opacity: 1;
}



/* --------------- Facebook */

.facebook {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -90px;
}

.facebook span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -90px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.facebook:hover span {
	opacity: 1;
}



/* --------------- Github */

.github {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -120px;
}

.github span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -120px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.github:hover span {
	opacity: 1;
}



/* --------------- Medium */

.medium {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -150px;
}

.medium span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -150px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.medium:hover span {
	opacity: 1;
}



/* --------------- Dribbble */

.dribbble {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -180px;
}

.dribbble span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -180px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.dribbble:hover span {
	opacity: 1;
}



/* --------------- Youtube */

.youtube {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -210px;
}

.youtube span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -210px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.youtube:hover span {
	opacity: 1;
}



/* --------------- Behance */

.behance {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -240px;
}

.behance span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -240px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.behance:hover span {
	opacity: 1;
}



/* --------------- Vimeo */

.vimeo {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -270px;
}

.vimeo span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -270px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.vimeo:hover span {
	opacity: 1;
}



/* --------------- Instagram */

.instagram {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position:0 -300px;
}

.instagram span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_dark.svg) no-repeat;
	background-position: -30px -300px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.instagram:hover span {
	opacity: 1;
}

