@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/
body{
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
  font-size: 2em;
  position: relative;
}

h1, h2, h3, h4, h5, h6, nav{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
}

p, li {
  font-size: 18px;
  line-height: 1.3em;
}
/* Selected text Color */

::-moz-selection {
    background: none;
    color: #ED272F;
}

::selection, a:hover {
    background: none;
    color: #ED272F;
}

a, a:visited {
  color: inherit;
}

p a {
  text-decoration: underline;
}

b, strong, .keywords {
    font-weight: 600;
}


.glyphicon-circle-arrow-up {
  padding: 40px;
  color: #060606;
  font-size: 50px;
  opacity: .5;
}

.keywords {
  color: #060606;
  opacity: .8;
}

/**  Header Navigation **/
nav {
  display: block;
  width: 100%;
  overflow: hidden;
}

.navbar {
  background-color: rgba(255, 255, 255, 1);
  /*box-shadow: 0 5px 10px -5px #232323;
    -moz-box-shadow: 0 5px 10px -5px #232323;
    -webkit-box-shadow: 0 5px 10px -5px #232323;*/
  z-index: 3;
  border: 0;
  border-radius: 0;
  position: absolute;
  margin: 0;
}

.navbar-nav {
    padding: 0px;
    margin: auto;
    overflow: hidden;
    float: none;
}

#nav-toggle {
  margin: 0 3%;
  border-bottom: 1px solid rgba(3, 3, 3, .85);
}
.navbar-default .navbar-nav .active a {
  background-color: #fff;
  background: transparent;
  border-bottom: 4px solid rgba(35, 35, 35, 0.75);
}

.navbar-default .navbar-nav .active a:hover{
  background-color: #fff;
  background: transparent;
}

nav li {
  list-style: none;
  text-align: center;
  display: inline;
  padding: 0;
  margin: 0 auto;
  font-size: .8em;
  font-weight: 300;
}

nav>li>a {
  padding: 10px 8px;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  opacity: .95;
}

.navbar-default .navbar-brand {
  background-image: url(../images/logo.png);
  height: 95%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  margin: 12px 12px 12px 0px!important;
  opacity: 0;
}

.navbar-default.fixed .navbar-brand {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/*nav {
  z-index: 10;
  display: block;
  width: 100%;
  overflow: hidden;
}

header .navbar {
  padding: 0 0;
  transition: all .5s ease-out;
  box-shadow: 0 5px 10px -5px #232323;
}

.fixed {
  position: fixed !important; 
  top:0;
  left: 0;
}

header .navbar-default {
  background-color: rgba(255,255,255,.53);
  border: none;
}

header .navbar-default .navbar-nav a {
  color: white;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: #EEC856;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #EEC856;
  background: transparent;
  border-bottom: 4px solid #EEC856;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #E15D5F;
  background: transparent;
  text-shadow: none;
}
*/
/**  Navbar Toggle **/
header .navbar-toggle {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
  background-color: white;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-toggle:focus .icon-bar , .navbar-default .navbar-toggle:hover .icon-bar {
  margin-top: 2px;
  transition: ease-in-out all .33s;
}  

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: white;
}

/**  Frontpage  **/
#frontpage {
  background-color: #00C5D8;
  /*rgba(254,237,1,.3)*/
}

.headline {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.text-h {
  width: 100%;
  height: 40%;
  position: relative;
}

#next {
  width: 100%;
  height: 20%;
  position: relative;
}

#frontpage h1 {
  display: block;
  font-weight: 700;
  font-size: 3em;
  text-align: left;
  vertical-align: center;
  text-transform: uppercase;
}

#frontpage p {
  display: block;
  font-weight: 300;
  font-size: 2em;
  vertical-align: center;
}

#design, #project-tapture {
  padding: 80px 0;
  display: block;
}


/**  Showcase  **/
.top-offset {
  padding-top: 72px;
}

.showcase {
  margin-bottom: 2px;
  padding-right: 1px;
  padding-left: 1px;
}

.project-cover {
  position: relative;
  background-color: #E0E0E0;
}

#tapture {
  background-color: rgba(41, 182, 246, 1);
}

#tapture-project .glyphicon-circle-arrow-up:hover {
  color: rgb(41, 182, 246);
  opacity: .75;
}

#shift {
  background-color: rgba(244, 205, 0, 1);
}

#shift-project .glyphicon-circle-arrow-up:hover {
  color: rgb(244, 205, 0);
  opacity: .75;
}

#wekart {
  background-color: rgba(57, 202, 204, 1);
}

#karkee {
  background-color: rgba(255, 167, 38, 1);
  display: none;
}

#blob {
  background-color: rgba(236, 64, 122, 1);
  display: none;
}

#mhcid-web {
  background-color: rgba(126, 87, 194, 1);
  display: none;
}

#canvas {
  background-color: rgba(255, 238, 88, 1);
  display: none;
}

#resume, #contact {
  display: none;
}

.project-info {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #fff;
  text-align: center;
  color: #050505;
  transition: all .3s ease-in-out;
}

.project-info:hover {
  opacity: .9;
}

.text-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.project-info span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .8em;
}

.project-info h1 {
  font-weight: 500;
  font-size: 3em;
  text-transform: uppercase;
}

.avatar {
  display: block;
  border: solid white 5px;
  cursor: zoom-in;
  width: 75%;
  height: 75%;
  margin: 20px auto;
  box-shadow: 0 3px 6px -3px #232323;
}

#about {
  background-color: rgba(76, 175, 80, 1);
}

p + p {
  margin-top: 15px; 
}

#about p {
  color: white;
  font-size: 1.2em;
}

footer {
  border-top: none;
  border-bottom: none;
  background-color: #2e2e38;
  color: #000;  
  padding:40px;
}

.copyright {
  font-size: .8em;
  font-weight: 100;
  color: white;
  line-height: 60px;
}
.social-links {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    margin-right: -9px;
}

.social-links li {
    display: inline-block;
    margin: 0 9px 0 9px;
    border-radius: 3px;
    box-shadow: 0 4px 0 transparent;
}

/** Project-modals **/
/*.project-modal .modal-content .item-details {
    margin: 30px 0;
}*/

.project-modal .modal-content {
  padding: 100px 0 0 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: scroll;
}

.project-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
/*  transition: ease-in-out all .33s;*/
  transform: scale(0.6,0.6);
}

.project-modal .close-modal:hover {
  opacity: .5;
/*  transform: rotate(90deg);*/
}

.project-modal .close-modal .lr {
  z-index: 1051;
  width: 1.5px;
  height: 75px;
  margin-left: 35px;
  background-color: #ED272F;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.project-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1.5px;
  height: 75px;
  background-color: #ED272F;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.iphone4s {
  background-image: url("../images/iphone4.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 310px;
  height: 580px;
  margin-left: 50px;
  margin-bottom: -50px;
  overflow: hidden;
}

.iphone4s > .static-screen {
  width: 265px;
  height: 372px;
  margin: auto;
  margin-top: 95px;
  cursor: pointer;
  position: relative;
}
.iphone4s > .static-screen #tapture-video-iphone{
  margin-left: 9px;
  border: 2px solid grey;
}

.iphone4s > .static-screen .play-button .glyphicon-play-circle{
  width: 100px;
  height: 100px;
  font-size: 120px;
  display: inline-block;
  text-align: center;
  line-height: 95px;
  padding-left: 5px;
  color: rgba(0, 197, 216, .5);
}

.iphone4s > .static-screen .play-button {
  padding-top: 120px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 65px;
}

.apple-watch {
  background-image: url("../images/apple_watch_frame.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 146px;
  height: 263px;
  margin-left: 1px;
  margin-top: 260px;
  overflow: hidden;
}

.apple-watch > .static-screen {
  width: 250px;
  height: 372px;
  margin: auto;
  margin-top: 70px;
  cursor: pointer;
  position: relative;
}
.apple-watch > .static-screen #tapture-video-watch{
  margin-left: 4px;
  border: 1px solid grey;
}

.apple-watch > .static-screen .play-button .glyphicon-play-circle{
  width: 100px;
  height: 100px;
  font-size: 88px;
  display: inline-block;
  text-align: center;
  line-height: 95px;
  padding-left: 21px;
  color: rgba(0, 197, 216, .3);
}

.apple-watch > .static-screen .play-button {
  padding-top: 15px;
  text-align: center;
  position: absolute;
  top: 0;
  left: -11px;
}

.light-blue {
  background-color: rgba(183, 215, 225, .75);
  padding: 0 0;
}

.light-yellow {
  background-color: rgba(245, 211, 42, .75);
  padding: 0 0;
}

.row-padding {
  padding: 50px 0;
}
#tapture-project .project-intro h1 {
  font-size: 60px;
  text-align: center;
  line-height: 150%;
  font-weight: bold !important;
  color: #3DD1E0;
}

#tapture-project .project-intro h4 {
  line-height: 150%;
  text-align: center;
  color: #3DD1E0;
  padding-bottom: 10px;
}

/*.project-intro p {
  padding-top: 10px;
}
*/
#my-blurb, #resume-link{
  padding: 30px 30px;
}

#team-member {
  padding: 80px 0 0 0;
}

#tapture-project .left-border {
  border-left-color: #3DD1E0;
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 3px;
  padding-left: 5px;
}

#tapture-project .left-border h2 {
  line-height: 150%;
}

#tapture-project .img-valign {
  margin-top: 65px;
}

#shift-project .poster-title {
  width: 100%;
  height: auto;
}

#shift-project .left-border {
  border-left-color: #fff;
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 3px;
  padding-left: 5px;
}

#shift-project .left-border-yellow {
  border-left-color: rgb(244, 205, 0);
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 3px;
  padding-left: 5px;
}

#shift-project .bottom-border-yellow {
  border-bottom-color: rgb(244, 205, 0);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 3px;
}

#shift-project .bottom-border-white {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

#shift-project .left-border h2 {
  line-height: 150%;
}

#shift-project .left-border-yellow h2 {
  line-height: 150%;
}

#vimeo-video  {
  width: 678px;
  margin: 0 auto;
}

/** Responsive media setting **/
/* Large desktop */
@media (min-width: 1200px) { ... }

/** Larger than normal phones **/
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .iphone4s {
    margin-left: 200px;
  }
  .avatar {
    border: solid white 3px;
    width: 45%;
    height: 45%;
    margin: 0px auto;
    box-shadow: 0 2px 3px -2px #232323;
  }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  header .navbar-collapse.in {
    background-color: rgba(255, 255, 255, 1) !important;
  }

  #about p {
    font-size: 1em;
  }

  #nav-toggle {
    margin: 0 3%;
    border: none;
  }
  
  .navbar-default .navbar-brand {
    padding: 12px;
  }
  .top-offset {
    padding-top: 50px;
  }

  footer > .pull-left, .pull-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  #frontpage h1, #frontpage p {
    font-size: .9em;
  }

  .avatar {
    border: solid white 2px;
    width: 60px;
    height: 60px;
    margin: 0px auto;
    box-shadow: 0 2px 3px -2px #232323;
  }
  
  #my-blurb, #resume-link{
  padding: 10px 10px;
}

  .top-offset {
    padding-top: 30px;
  }

  #my-blurb h1 {
    font-size: 14px;
  }

  #about p {
    font-size: .62em;
  }

  .social-links li {
    margin: 0 3px 0 3px;
  }

  .iphone4s {
    margin-left: -8px;
  }

  .apple-watch {
    margin-left: 70px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  p, li {
    font-size: 14px;
  }
}

