@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/
body{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

/** Animations  **/
.animated { 
    animation-delay: .8s;
    -webkit-animation-duration: .8s; 
    animation-duration: .8s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    80% { 
        -webkit-transform: translateY(-10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInDown { 
    -webkit-animation-name: bounceInDown; 
    animation-name: bounceInDown; 
}

/**  Header Navigation **/
nav {
  display: block;
  width: 100%;
  overflow: hidden;
}

.navbar {
  background-color: rgba(255, 255, 255, 1);
  /*box-shadow: 0 5px 10px -5px #232323;
    -moz-box-shadow: 0 5px 10px -5px #232323;
    -webkit-box-shadow: 0 5px 10px -5px #232323;*/
  z-index: 3;
  border: 0;
  border-radius: 0;
  position: absolute;
  margin: 0;
}

.navbar-nav {
    padding: 0px;
    margin: auto;
    overflow: hidden;
    float: none;
}

#nav-toggle {
  margin: 0 3%;
  border-bottom: 1px solid rgba(3, 3, 3, .85);
}
.navbar-default .navbar-nav .active a {
  background-color: #fff;
  background: transparent;
  border-bottom: 4px solid rgba(35, 35, 35, 0.75);
}

.navbar-default .navbar-nav .active a:hover{
  background-color: #fff;
  background: transparent;
}

nav li {
  list-style: none;
    text-align: center;
    display: inline;
    padding: 0;
    margin: 0 auto;
    font-size: .8em;
    font-weight: 300;
}

nav>li>a {
  padding: 10px 8px;
}

@media (min-width: 768px)
.navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 10px;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  opacity: .95;
}

.navbar-default .navbar-brand {
  background-image: url(../images/logo.png);
  height: 95%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  margin: 12px 12px 12px 0px!important;
  opacity: 0;
}

.navbar-default.fixed .navbar-brand {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/*nav {
  z-index: 10;
  display: block;
  width: 100%;
  overflow: hidden;
}

header .navbar {
  padding: 0 0;
  transition: all .5s ease-out;
  box-shadow: 0 5px 10px -5px #232323;
}

.fixed {
  position: fixed !important; 
  top:0;
  left: 0;
}

header .navbar-default {
  background-color: rgba(255,255,255,.53);
  border: none;
}

header .navbar-default .navbar-nav a {
  color: white;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: #EEC856;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #EEC856;
  background: transparent;
  border-bottom: 4px solid #EEC856;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #E15D5F;
  background: transparent;
  text-shadow: none;
}
*/
/**  Navbar Toggle **/
header .navbar-toggle {
  background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media only screen
and (max-width: 768px) {
  header .navbar-collapse.in {
    background-color: rgba(0,0,0, .5);
  }
}

/**  Frontpage  **/
#frontpage {
  background-color: rgba(254,237,1,.3);
}

#zhenxi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#frontpage h1 {
  display: block;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
}

#frontpage h2 {
  display: block;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 5vw;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
}

#design {
  padding: 135px 0;
  display: block;
}


/**  Showcase  **/
.top-offset {
/*  padding-top: 72px;*/
}

.showcase {
  margin-bottom: 30px;
}

.project-cover {
  position: relative;
  background-color: #E0E0E0;
}

#tapture {
  background-color: rgba(41, 182, 246, 1);

}

#pet-app {
  background-color: rgba(66, 165, 245, 1);
}

#floracare {
  background-color: rgba(212, 225, 87, 1);
}

#karkee {
  background-color: rgba(255, 167, 38, 1);
}

#blob {
  background-color: rgba(236, 64, 122, 1);
}

#mhcid-web {
  background-color: rgba(126, 87, 194, 1);
}

#wekart {
  background-color: rgba(38, 198, 218, 1);
}

#canvas {
  background-color: rgba(255, 238, 88, 1);
}

#twd {
  background-color: rgba(189, 189, 189, 1);
}
.project-info {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(176, 190, 197, .85);
  text-align: center;
  color: #fff;
  transition: all .3s ease-in-out;
}

.project-info:hover {
  opacity: 1;
}

.text-wrap {
 width: 100%;
 height: 100%;
 position: relative;
}

.project-info span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.project-info h1 {
  font-size: 2em;
}



